==
<!DOCTYPE html>
<html>
<head>
	<title>React Clean Project</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{'assets/bower_components/normalize.css/normalize.css'|theme}}"/>
	<link rel="stylesheet" type="text/css" href="{{'assets//bower_components/milligram/dist/milligram.min.css'|theme}}"/>
	<link rel="stylesheet" type="text/css" href="{{'assets/css/pikaday.css'|theme}}"/>

	<link rel="stylesheet" type="text/css" href="{{'assets/css/style2.css'|theme}}"/>
</head>
<body>
	{% page %}
<script type="text/javascript" src="{{'assets/bundle.js'|theme}}"></script>
</body>
</html>